.app {
  display: flex;
  justify-content: row;
  width: 100%;

  .app-content {
    padding: 20px;
    width: 100%;
  }
}

.mdc-drawer {
  &__header {
    padding: 0;
  }
  &__title {
    margin-bottom: 10px;
    padding: 0 20px;
  }

}

.mdc-layout {
  flex: 1;

  &--row {
    display: flex;
    flex-direction: row;;
  }
}